#ex3 {
    background-color: lightblue;
    width: 510px;
    height: 360px;
    overflow: scroll;
}

#ChartLocation {
    text-align: center;
}

#ChartDate {
    text-align: center;
}

#ChartMaxMin {
    text-align: center;
}