#ex3 {
    background-color: lightblue;
    width: 510px;
    height: 360px;
    overflow: scroll;
}

#ChartLocation {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#ChartDate {
    text-align: center;
}

#ChartMaxMin {
    text-align: center;
}

#DataSource {
    color: black;
    text-align: center;
    font-size: small;
    margin-top: 10px;
    padding-top: 0px;
}

#SpitcastLink a {
    color: black;
    text-decoration: underline;
}