
  #w3-content {
      max-width: 1400px;
  }

  #userphoto {
    width: 100%;
  }

  .w3-twothird {
    width: 55%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  #nav-cover {
    padding: auto;
   }

   #tag {
     text-decoration: underline;
   }

   #myBio {
     padding-bottom: 100px;
   }

   .w3-container {
     margin-bottom: 10px;
   }

   #date-right {
    float: right;
   }